@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap");
html, body {
  height: 100%;
  font-family: "Amiri", serif;
  -webkit-font-smoothing: antialiased;
  position: relative;
  font-weight: normal;
  height: 1000px;
  background-color: #f5f7fa;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

ul, li, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  font-weight: 400;
  font-family: "Cairo", sans-serif;
  text-transform: uppercase;
}

.btn {
  text-transform: capitalize;
  background-color: transparent;
  color: #00D363;
  border: 1px solid #00D363;
  border-radius: 5px;
  padding: 10px 30px;
  outline: none;
  box-shadow: none;
  transition: 0.5s;
}
.btn:hover {
  background-color: #00D363;
  color: #fff;
}

.btn-1 {
  text-transform: capitalize;
  background-color: #00D363;
  color: #fff;
  border: 1px solid #00D363;
  border-radius: 5px;
  padding: 5px 15px;
  outline: none;
  box-shadow: none;
  transition: 0.5s;
}
.btn-1:hover {
  background-color: transparent;
  color: #00D363;
}

.square_btn {
  display: inline-block;
  position: relative;
  padding: 0.5em 1.4em;
  text-decoration: none;
  background: #00D363;
  color: #FFF;
  border-bottom: solid 5px #000;
  border-right: solid 5px #000;
  border-radius: 50%;
}

header .navbar {
  z-index: 3;
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
}
@media only screen and (max-width: 991px) {
  header .navbar {
    opacity: 0.9 !important;
  }
  header .navbar .navbar-collapse {
    background-color: #fff;
    opacity: 1 !important;
  }
  header .navbar .navbar-toggler {
    background-color: #bdbdbd;
    box-shadow: none;
  }
}
header .navbar-brand {
  font-size: 2rem;
  font-family: "Amiri", serif;
  font-weight: 600;
}
header .navbar-nav .nav-item {
  padding: 5px 10px;
}
header .navbar-nav .nav-item .nav-link {
  color: #fff;
  font-size: 1.1rem;
  font-weight: 400;
  font-family: "Amiri", serif;
  transition: 0.6s;
}
header .navbar-nav .nav-item .nav-link:hover {
  color: #00D363;
}
@media only screen and (max-width: 991px) {
  header .navbar-nav .nav-item .nav-link {
    color: #000;
  }
}
header button {
  margin: 0 10px;
  font-size: 1.3rem !important;
  font-weight: 500 !important;
  box-shadow: none !important;
  outline: none !important;
}
header .mode {
  text-align: right;
  padding: 10px 0;
}
header .label {
  background-color: #00D363;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 50px;
  height: 28px;
  width: 55px;
  padding: 5px;
  position: relative;
}
header .checkbox {
  position: absolute;
  opacity: 0;
}
header .checkbox:checked + label .ball {
  transform: translateX(24px);
}
header .ball {
  background-color: #fff;
  height: 27px;
  width: 27px;
  border-radius: 50%;
  position: absolute;
  top: 1px;
  left: 0;
  right: 0;
  transition: 0.2s linear;
}
header i {
  color: #fff;
  cursor: pointer;
}

.sticky {
  background-color: #000;
  transition: 0.6s;
  opacity: 0.7;
  z-index: 3;
}
.sticky .dropdown-menu {
  margin-top: 15px;
}

.footer {
  padding: 50px 0;
  background-color: #001D38;
  color: #fff;
  border-top: 8px solid #00D363;
}
.footer .twzif, .footer .copyright {
  padding: 5px;
}
.footer .twzif h2, .footer .copyright h2 {
  border-bottom: 1px dashed #00D363;
  transition: 0.5s;
}
.footer .twzif h2:hover, .footer .copyright h2:hover {
  color: #00D363;
}
.footer .twzif .lead .fa-envelope-open, .footer .copyright .lead .fa-envelope-open, .footer .copyright .span .fa-envelope-open,
.footer .twzif .lead .fa-phone,
.footer .copyright .lead .fa-phone,
.footer .copyright .span .fa-phone,
.footer .twzif .lead .fa-map-marker-alt,
.footer .copyright .lead .fa-map-marker-alt,
.footer .copyright .span .fa-map-marker-alt,
.footer .twzif .lead .fa-internet-explorer,
.footer .copyright .lead .fa-internet-explorer,
.footer .copyright .span .fa-internet-explorer,
.footer .twzif .lead .fa-twitter,
.footer .copyright .lead .fa-twitter,
.footer .copyright .span .fa-twitter,
.footer .twzif .lead .fa-instagram,
.footer .copyright .lead .fa-instagram,
.footer .copyright .span .fa-instagram,
.footer .twzif .lead .fa-dribbble,
.footer .copyright .lead .fa-dribbble,
.footer .copyright .span .fa-dribbble,
.footer .twzif .lead .fa-facebook,
.footer .copyright .lead .fa-facebook,
.footer .copyright .span .fa-facebook,
.footer .twzif .lead .fa-linkedin,
.footer .copyright .lead .fa-linkedin,
.footer .copyright .span .fa-linkedin {
  color: #00D363;
  margin-right: 5px;
}
.footer .social {
  text-align: center;
  margin-top: 15px;
}
.footer .social .fab {
  background-color: #001D38;
  color: #525151;
  border: 1px solid;
  border-color: #525151;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  font-size: 18px;
  transition: 0.5s;
}
.footer .social .fab:hover {
  background-color: #00D363;
  border: none;
}
.footer .form-control {
  border-radius: 20px;
  outline: none;
  box-shadow: none;
}
.footer .input-group-text {
  border-top-right-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
  background-color: #00D363;
  color: #fff;
}
.footer .input-group-text a {
  color: #fff;
}
.footer .copyright {
  border-bottom: 1px dashed #00D363;
  text-align: center;
  border-right: none;
  text-transform: capitalize;
}
.footer .copyright .fa-heart {
  color: #00D363;
  margin-right: 5px;
  margin-left: 5px;
}
/* Start Section Loading */
.loading-page {
  background: #00D363;
  color: #FFF;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
}
.loading-page .logo-web {
  border-radius: 50%;
}
.loading-page .logo-web .logo {
  border-radius: 50%;
}

.logo-web {
  width: 200px;
  height: 200px;
  line-height: 200px;
  text-align: center;
  position: relative;
  margin: 300px auto;
}
.logo-web h2 {
  line-height: 200px;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #001D38;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: bounce 2s infinite ease-in-out;
  animation: bounce 2s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}
@keyframes bounce {
  0%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
/* End Section Loading */
header {
  background: url(../images/banner/banner.png) no-repeat center center;
  background-size: cover;
}
header .header-banner .header-titel {
  color: #fff;
  margin-top: 15%;
}
@media only screen and (max-width: 600px) {
  header .header-banner .header-titel {
    margin-top: 35%;
  }
}
header .header-banner .header-titel h5 {
  font-size: 2rem;
  font-family: "Cairo", sans-serif;
}
header .header-banner .header-titel h2 {
  font-size: 3.2rem;
  line-height: 75px;
}
header .header-banner .header-titel p {
  font-size: 1rem;
  margin-bottom: 35px;
}
header .header-banner .header-titel button {
  padding: 13px 29px;
  font-size: 1.5rem;
  font-weight: 500;
  box-shadow: none !important;
  outline: none !important;
}
header .header-img {
  margin-top: 25%;
}
header .header-img img {
  width: 80%;
}

.search-job {
  padding: 50px 0;
  background-color: #f5f7fa;
}
.search-job .section-titel h2 {
  font-size: 2.5rem;
  font-weight: 400;
  font-family: "Amiri", serif;
}
.search-job label {
  font-size: 1.5rem;
  font-family: "Amiri", serif;
}
.search-job .find-job button {
  width: 100%;
  padding: 13px 30px;
  outline: none !important;
}

.popular-search {
  padding: 30px 0;
  background-color: #f5f7fa;
}
.popular-search .section-titel h2 {
  font-size: 2.5rem;
  font-weight: 400;
  font-family: "Amiri", serif;
}
.popular-search .section-titel .search-titel button {
  padding: 5px 15px;
  outline: none;
  font-size: 1.2rem;
  width: 100%;
}

.aboutUs {
  padding: 100px 0;
}
.aboutUs .about-vedio {
  background: url(../images/about/photo-1544717297-fa95b6ee9643.jpg) no-repeat center center;
  background-size: cover;
  padding: 200px 0;
  box-shadow: 5px 10px #888888;
}
.aboutUs .play-video {
  background-color: #168BF5;
  font-size: 3rem;
  width: 80px;
  height: 80px;
  line-height: 90px;
  text-align: center !important;
  margin: auto;
  color: #fff;
}
.aboutUs .about-titel {
  padding: 30px 35px;
  box-shadow: 5px 10px 10px 5px #888888;
}
.aboutUs .about-titel .section-titel h2 {
  font-size: 2.5rem;
  font-weight: 400;
  font-family: "Amiri", serif;
}
.aboutUs .about-titel h5 {
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "Cairo", sans-serif;
  opacity: 0.8;
  text-align: center;
}
.aboutUs .about-titel p {
  font-size: 1.2rem;
  font-weight: 400;
  font-family: "Cairo", sans-serif;
  opacity: 0.5;
  padding: 15px 0;
}

#Top-Companies {
  padding: 100px 0;
}
#Top-Companies .our-companies .company {
  margin: 0 10px;
  height: 200px;
  text-align: center;
}
#Top-Companies .our-companies .company img {
  margin: auto;
  padding: 10px 0;
}
#Top-Companies .our-companies .company span {
  background-color: #bebebe;
  padding: 0 10px;
  font-size: 1.4rem;
}
#Top-Companies .our-companies .company h6 {
  font-size: 1.2rem;
  font-family: "Amiri", serif;
  font-weight: bolder;
}
#Top-Companies .our-companies .company p {
  font-size: 1.2rem;
  font-family: "Cairo", sans-serif;
  font-weight: bolder;
  padding: 5px 0;
  opacity: 0.6;
}

.our-blog {
  padding: 50px 0;
  background-color: #f5f7fa;
}
.our-blog .section-titel {
  text-align: center;
}
.our-blog .section-titel h2 {
  font-size: 2.5rem;
  font-weight: 400;
  font-family: "Amiri", serif;
}
.our-blog .single-blog {
  width: 23% !important;
  border-radius: 2.3rem !important;
}
@media only screen and (max-width: 500px) {
  .our-blog .single-blog {
    width: 100% !important;
  }
}
.our-blog .single-blog img {
  width: 100%;
  height: 250px;
  border-radius: 2.3rem !important;
  transition: 0.6s;
}
.our-blog .single-blog img:hover {
  opacity: 0.6;
}
.our-blog .single-blog span {
  padding: 5px 10px;
  opacity: 0.7;
}
.our-blog .single-blog h4 {
  font-weight: bolder;
  font-family: "Amiri", serif;
}
.our-blog .single-blog p {
  font-size: 1.1rem;
  font-weight: 400;
  opacity: 0.8;
}
.our-blog button {
  padding: 5px 15px;
  outline: none;
  font-size: 1.2rem;
}

.job-title {
  padding: 100px 25px;
  background-color: #f5f7fa;
  font-family: "Amiri", serif;
}
.job-title .listing_title {
  text-align: left;
}
@media only screen and (max-width: 767px) {
  .job-title .listing_title {
    text-align: center;
  }
}
.job-title .listing_title h2 {
  text-transform: capitalize;
  color: #1F1F1F;
  margin-left: 0;
  font-size: 40px;
  font-weight: 400;
  margin-top: 5px;
}

.broser-listing {
  text-align: right;
}
@media only screen and (max-width: 767px) {
  .broser-listing {
    text-align: center;
  }
}
.broser-listing .btn {
  text-align: center;
  right: 0;
  outline: none;
  box-shadow: none;
  margin-top: 5px;
  margin-bottom: 5px;
}

.job-ditaels {
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  border: 1px solid transparent;
  transition: 1s;
  margin-bottom: 10px;
}
.job-ditaels:hover {
  border-color: #00D363;
}
@media only screen and (max-width: 767px) {
  .job-ditaels {
    display: block;
    padding: 5px;
  }
}
.job-ditaels:hover .icon {
  transform: rotate(0.1turn);
}
.job-ditaels .jobs_left {
  display: flex;
  align-items: center;
  line-height: 0.5;
}
.job-ditaels .jobs_left .icon {
  background-color: #f5f7fa;
  width: 75px;
  height: 75px;
  line-height: 75px;
  text-align: center;
  border: 1px solid #bebebe;
  border-radius: 5px;
  margin-right: 15px;
}
.job-ditaels .jobs_left .job-conetent {
  line-height: 1.5;
}
.job-ditaels .jobs_left .job-conetent h4 {
  color: #1F1F1F;
  transition: 0.5s;
  text-transform: capitalize;
}
.job-ditaels .jobs_left .job-conetent h4:hover {
  color: #00D363;
}
.job-ditaels .jobs_left .job-conetent .lead, .job-ditaels .jobs_left .job-conetent .footer .copyright .span, .footer .copyright .job-ditaels .jobs_left .job-conetent .span {
  display: flex;
}
.job-ditaels .jobs_left .job-conetent .lead p, .job-ditaels .jobs_left .job-conetent .footer .copyright .span p, .footer .copyright .job-ditaels .jobs_left .job-conetent .span p {
  font-size: 16px;
  color: #aab1b7;
  margin-right: 30px;
}
@media only screen and (max-width: 767px) {
  .job-ditaels .jobs_left .job-conetent .lead p, .job-ditaels .jobs_left .job-conetent .footer .copyright .span p, .footer .copyright .job-ditaels .jobs_left .job-conetent .span p {
    margin-right: 1px;
    font-size: 10px;
  }
}
.job-ditaels .job-right {
  align-items: center;
  line-height: 2.5;
}
@media only screen and (max-width: 767px) {
  .job-ditaels .job-right {
    margin-top: 5px;
  }
}
.job-ditaels .job-right .apply .heart {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  color: #00d363;
  font-size: 14px;
  line-height: 35px;
  text-align: center;
  display: inline-block;
  background: #effdf5;
  margin-right: 15px;
  transition: 0.5s;
}
.job-ditaels .job-right .apply .heart:hover {
  background-color: #00D363;
  color: #fff;
}
.job-ditaels .job-right .apply .heart i {
  transition: 0.5s;
}
.job-ditaels .job-right .apply .heart i:hover {
  animation: heartBeat;
  animation-duration: 2s;
}
.job-ditaels .job-right .date p {
  color: #aab1b7;
  font-style: italic;
  font-size: 14px;
  font-weight: normal;
}

.dream-job {
  margin: 50px 0;
}
.dream-job .dream-titel {
  background: url(../images/job/hero-2.jpg) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  padding: 100px 0;
}
.dream-job .dream-titel h2 {
  font-size: 4rem;
  font-weight: 400;
  font-family: "Amiri", serif;
  color: #fff;
  padding: 10px 0;
}
.dream-job .dream-titel h6 {
  font-size: 2rem;
  font-weight: 400;
  font-family: "Cairo", sans-serif;
  color: #fff;
  padding: 10px 0;
}
.dream-job .dream-titel button {
  padding: 5px 15px;
  outline: none;
  font-size: 1.5rem;
  margin: 20px 5px;
}

.popolar_categories {
  padding: 100px 0;
}
.popolar_categories h2 {
  text-transform: capitalize;
  color: #1F1F1F;
  margin-left: 0;
  font-size: 40px;
  font-weight: 400;
  margin-top: 5px;
}
.popolar_categories .poplar {
  background-color: #fff;
  padding: 25px 0;
  width: 32%;
  transition: 0.6s;
  box-shadow: 5px 10px 10px 5px #888888;
}
.popolar_categories .poplar h5 {
  color: #00D363;
  font-size: 3rem;
  transition: 0.6s;
}
.popolar_categories .poplar p {
  font-weight: bolder;
  font-family: "Cairo", sans-serif;
  font-size: 1.5rem;
  transition: 0.7s;
}
.popolar_categories .poplar span {
  color: #fff;
  font-size: 1rem;
  background-color: #00D363;
  padding: 0 15px;
  transition: 0.8s;
}
.popolar_categories .poplar:hover {
  background-color: #bebebe;
}
@media only screen and (max-width: 767px) {
  .popolar_categories .poplar {
    width: 100% !important;
  }
}

#exampleModal-1 .modal-content {
  width: 150%;
  right: 30%;
}
@media only screen and (max-width: 767px) {
  #exampleModal-1 .modal-content {
    width: 100% !important;
    right: 0;
  }
}
#exampleModal-1 .modal-content .btn-close {
  color: #000 !important;
  background: none;
  font-size: 1.5rem;
  font-weight: bolder;
  font-family: "Cairo", sans-serif;
  text-align: center;
  outline: none;
}

.job-title {
  padding: 100px 25px;
  background-color: #f5f7fa;
  font-family: "Amiri", serif;
}
.job-title .listing_title {
  text-align: left;
}
@media only screen and (max-width: 767px) {
  .job-title .listing_title {
    text-align: center;
  }
}
.job-title .listing_title h2 {
  text-transform: capitalize;
  color: #1F1F1F;
  margin-left: 0;
  font-size: 40px;
  font-weight: 400;
  margin-top: 5px;
}

.broser-listing {
  text-align: right;
}
@media only screen and (max-width: 767px) {
  .broser-listing {
    text-align: center;
  }
}
.broser-listing .btn {
  text-align: center;
  right: 0;
  outline: none;
  box-shadow: none;
  margin-top: 5px;
  margin-bottom: 5px;
}

.job-ditaels {
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  border: 1px solid transparent;
  transition: 1s;
  margin-bottom: 10px;
}
.job-ditaels:hover {
  border-color: #00D363;
}
@media only screen and (max-width: 767px) {
  .job-ditaels {
    display: block;
    padding: 5px;
  }
}
.job-ditaels:hover .icon {
  transform: rotate(0.1turn);
}
.job-ditaels .jobs_left {
  display: flex;
  align-items: center;
  line-height: 0.5;
}
.job-ditaels .jobs_left .icon {
  background-color: #f5f7fa;
  width: 75px;
  height: 75px;
  line-height: 75px;
  text-align: center;
  border: 1px solid #bebebe;
  border-radius: 5px;
  margin-right: 15px;
}
.job-ditaels .jobs_left .job-conetent {
  line-height: 1.5;
}
.job-ditaels .jobs_left .job-conetent h4 {
  color: #1F1F1F;
  transition: 0.5s;
  text-transform: capitalize;
}
.job-ditaels .jobs_left .job-conetent h4:hover {
  color: #00D363;
}
.job-ditaels .jobs_left .job-conetent .lead, .job-ditaels .jobs_left .job-conetent .footer .copyright .span, .footer .copyright .job-ditaels .jobs_left .job-conetent .span {
  display: flex;
}
.job-ditaels .jobs_left .job-conetent .lead p, .job-ditaels .jobs_left .job-conetent .footer .copyright .span p, .footer .copyright .job-ditaels .jobs_left .job-conetent .span p {
  font-size: 16px;
  color: #AAB1B7;
  margin-right: 30px;
}
@media only screen and (max-width: 767px) {
  .job-ditaels .jobs_left .job-conetent .lead p, .job-ditaels .jobs_left .job-conetent .footer .copyright .span p, .footer .copyright .job-ditaels .jobs_left .job-conetent .span p {
    margin-right: 1px;
    font-size: 10px;
  }
}
.job-ditaels .job-right {
  align-items: center;
  line-height: 2.5;
}
@media only screen and (max-width: 767px) {
  .job-ditaels .job-right {
    margin-top: 5px;
  }
}
.job-ditaels .job-right .apply .heart {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  color: #00D363;
  font-size: 14px;
  line-height: 35px;
  text-align: center;
  display: inline-block;
  background: #EFFDF5;
  margin-right: 15px;
  transition: 0.5s;
}
.job-ditaels .job-right .apply .heart:hover {
  background-color: #00D363;
  color: #fff;
}
.job-ditaels .job-right .apply .heart i {
  transition: 0.5s;
}
.job-ditaels .job-right .apply .heart i:hover {
  animation: heartBeat;
  animation-duration: 2s;
}
.job-ditaels .job-right .date p {
  color: #AAB1B7;
  font-style: italic;
  font-size: 14px;
  font-weight: normal;
}

.Testimonial {
  padding: 100px 0;
  font-family: "Amiri", serif;
  text-align: center;
}
.Testimonial h2 {
  text-transform: capitalize;
  color: #1F1F1F;
  font-family: "Cairo", sans-serif;
  font-size: 40px;
  font-weight: 400;
}
.Testimonial .slide .carousel-inner {
  display: flex;
  text-align: left;
}
.Testimonial .slide .carousel-inner .carousel-item .icon {
  display: flex;
  padding: 50px;
  line-height: 1.5;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
@media only screen and (max-width: 767px) {
  .Testimonial .slide .carousel-inner .carousel-item .icon {
    display: block;
  }
}
.Testimonial .slide .carousel-inner .carousel-item .icon:hover img {
  transform: scale(1) rotate(360deg);
}
.Testimonial .slide .carousel-inner .carousel-item .icon .pectuer img {
  border-radius: 50%;
  transition: transform 0.5s ease-in-out;
}
.Testimonial .slide .carousel-inner .carousel-item .icon .lead, .Testimonial .slide .carousel-inner .carousel-item .icon .footer .copyright .span, .footer .copyright .Testimonial .slide .carousel-inner .carousel-item .icon .span {
  margin-left: 15px;
  max-width: 600px;
  color: #001D38;
  margin-top: 40px;
  transition: 0.5s;
}
.Testimonial .carousel-control-prev-icon,
.Testimonial .carousel-control-next-icon {
  z-index: 1;
}
.Testimonial .carousel-control-prev {
  left: unset;
  top: -150px;
  right: 0 !important;
}
.Testimonial .carousel-control-next {
  top: 50px;
}
.Testimonial .fa-angle-right,
.Testimonial .fa-angle-left {
  z-index: 1;
  color: #168BF5 !important;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  font-size: 30px;
  text-align: center;
}
.Testimonial .fa-angle-right:hover,
.Testimonial .fa-angle-left:hover {
  background-color: #168BF5 !important;
  color: #fff !important;
}
@media only screen and (max-width: 767px) {
  .Testimonial .fa-angle-right,
.Testimonial .fa-angle-left {
    visibility: hidden;
  }
}

.modal-content {
  background-color: #001D38;
  border-radius: 15px;
}
.modal-content .modal-header {
  border: none;
}

form {
  padding: 5px 10px;
}
form .form-control {
  border-radius: 20px;
  outline: none !important;
  box-shadow: none !important;
}
form .form-check-input {
  outline: none !important;
  box-shadow: none !important;
}
form .form-label {
  color: #fff;
}
form .btn-1 {
  outline: none !important;
  box-shadow: none !important;
}
form h4 {
  text-transform: capitalize;
  color: #fff;
}

.social {
  text-align: center;
  margin-top: 15px;
}
.social .fab {
  background-color: #001D38;
  color: #525151;
  border: 1px solid;
  border-color: #525151;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  font-size: 18px;
  transition: 0.5s;
}
.social .fab:hover {
  background-color: #00D363;
  border: none;
}

.modal {
  color: #fff !important;
}
.modal .modal-header .btn-close {
  color: #fff !important;
  background: none;
  font-size: 1.5rem;
  font-weight: bolder;
  font-family: "Cairo", sans-serif;
  text-align: center;
  outline: none;
  font-family: "Cairo", sans-serif;
}

.text #goup {
  position: fixed;
  bottom: 10px;
  right: 5px;
  display: none;
  color: #027be6;
  border: 0;
  text-align: center;
  line-height: 50px;
  text-align: center;
  z-index: 1;
  font-size: 100px;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
