@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap");
html, body {
  height: 100%;
  font-family: "PT Serif", serif;
  -webkit-font-smoothing: antialiased;
  position: relative;
  font-weight: normal;
  background-color: #f5f7fa;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

ul, li, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
}

.btn {
  text-transform: capitalize;
  background-color: transparent;
  color: #81b214;
  border: 1px solid #81b214;
  border-radius: 5px;
  padding: 10px 30px;
  outline: none;
  box-shadow: none;
  transition: 0.5s;
}
.btn:hover {
  background-color: #81b214;
  color: #fff;
}

.btn-1 {
  text-transform: capitalize;
  background-color: #81b214;
  color: #fff;
  border: 1px solid #81b214;
  border-radius: 5px;
  padding: 5px 15px;
  outline: none;
  box-shadow: none;
  transition: 0.5s;
}
.btn-1:hover {
  background-color: transparent;
  color: #81b214;
}

.square_btn {
  display: inline-block;
  position: relative;
  padding: 0.5em 1.4em;
  text-decoration: none;
  background: #81b214;
  color: #FFF;
  border-bottom: solid 5px #000;
  border-right: solid 5px #000;
  border-radius: 50%;
}

header .navbar {
  z-index: 3;
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
}
@media only screen and (max-width: 991px) {
  header .navbar {
    opacity: 0.9 !important;
  }
  header .navbar .navbar-collapse {
    background-color: #fff;
    opacity: 1 !important;
  }
}
header .navbar .navbar-toggler {
  background-color: #81b214;
}
header .navbar-brand {
  font-size: 2rem;
  font-family: "PT Serif", serif;
  font-weight: 600;
}
header .navbar-nav .nav-item {
  padding: 3px 5px;
}
header .navbar-nav .nav-item .nav-link {
  color: #fff;
  font-size: 1.1rem;
  font-weight: 400;
  font-family: "PT Serif", serif;
  transition: 0.6s;
}
header .navbar-nav .nav-item .nav-link:hover {
  color: #81b214;
}
@media only screen and (max-width: 991px) {
  header .navbar-nav .nav-item .nav-link {
    color: #000;
  }
}
header .btn-1 {
  margin: 0 10px;
  font-size: 1.3rem !important;
  font-weight: 500 !important;
  box-shadow: none !important;
  outline: none !important;
}
header .mode {
  text-align: right;
  padding: 10px 0;
}
header .label {
  background-color: #81b214;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 50px;
  height: 28px;
  width: 55px;
  padding: 5px;
  position: relative;
}
header .checkbox {
  position: absolute;
  opacity: 0;
}
header .ball {
  background-color: #fff;
  height: 27px;
  width: 27px;
  border-radius: 50%;
  position: absolute;
  top: 1px;
  left: 0;
  right: 25px;
  transition: 0.2s linear;
}
header i {
  color: #fff;
  cursor: pointer;
}

.sticky {
  background-color: #000;
  transition: 0.6s;
  opacity: 0.7;
  z-index: 3;
}
.sticky .dropdown-menu {
  margin-top: 15px;
}

.footer {
  padding: 100px 0;
  background-color: #206a5d;
  color: #fff;
  border-top: 8px solid #81b214;
}
.footer .twzif, .footer .copyright {
  padding: 5px;
}
.footer .twzif h2, .footer .copyright h2 {
  border-bottom: 1px dashed #81b214;
  transition: 0.5s;
}
.footer .twzif h2:hover, .footer .copyright h2:hover {
  color: #81b214;
  cursor: pointer;
}
.footer .twzif .lead, .footer .copyright .lead, .footer .copyright .span, .footer .twzif span, .footer .copyright span {
  margin-top: 5px;
  color: #000;
  transition: 0.5s;
}
.footer .twzif .lead:hover, .footer .copyright .lead:hover, .footer .copyright .span:hover, .footer .twzif span:hover, .footer .copyright span:hover {
  color: #fff;
  cursor: pointer;
}
.footer .twzif .lead .fa-envelope-open, .footer .copyright .lead .fa-envelope-open, .footer .copyright .span .fa-envelope-open,
.footer .twzif .lead .fa-phone,
.footer .copyright .lead .fa-phone,
.footer .copyright .span .fa-phone,
.footer .twzif .lead .fa-map-marker-alt,
.footer .copyright .lead .fa-map-marker-alt,
.footer .copyright .span .fa-map-marker-alt,
.footer .twzif .lead .fa-internet-explorer,
.footer .copyright .lead .fa-internet-explorer,
.footer .copyright .span .fa-internet-explorer, .footer .twzif span .fa-envelope-open, .footer .copyright span .fa-envelope-open,
.footer .twzif span .fa-phone,
.footer .copyright span .fa-phone,
.footer .twzif span .fa-map-marker-alt,
.footer .copyright span .fa-map-marker-alt,
.footer .twzif span .fa-internet-explorer,
.footer .copyright span .fa-internet-explorer {
  color: #81b214;
  margin-right: 5px;
}
.footer .social {
  text-align: center;
  margin-top: 15px;
}
.footer .social .fab {
  background-color: transparent !important;
}
.footer .social .fa-twitter {
  color: #1da1f2;
}
.footer .social .fa-instagram {
  color: #c13584;
}
.footer .social .fa-dribbble {
  color: #ff8833;
}
.footer .social .fa-facebook-f {
  color: #0078d7;
}
.footer .social .fa-linkedin {
  color: #0077b5;
}
.footer .social .google {
  color: #dd4b39;
}
.footer .form-control {
  border-radius: 20px;
  outline: none;
  box-shadow: none;
}
.footer .input-group-text {
  border-top-right-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
  background-color: #81b214;
  color: #fff;
}
.footer .input-group-text a {
  color: #fff;
}
.footer .copyright {
  border-bottom: 1px dashed #81b214;
  text-align: center;
  border-right: none;
  text-transform: capitalize;
}
.footer .copyright .fa-heart {
  color: #81b214;
  margin-right: 5px;
  margin-left: 5px;
}
.loading-page {
  background: #81b214;
  color: #FFF;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
}
.loading-page .logo-web {
  border-radius: 50%;
}
.loading-page .logo-web .logo {
  border-radius: 50%;
}

.logo-web {
  width: 200px;
  height: 200px;
  line-height: 200px;
  text-align: center;
  position: relative;
  margin: 300px auto;
}
.logo-web h2 {
  line-height: 200px;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #206a5d;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: bounce 2s infinite ease-in-out;
  animation: bounce 2s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}
@keyframes bounce {
  0%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
/* End Section Loading */
header {
  background: url(../../images/banner/background-01-1920x870.jpg) no-repeat center center;
  background-size: cover;
  position: relative;
  padding: 100px;
}
header .overlay {
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  background-color: rgba(0, 0, 0, 0.5) !important;
  z-index: 0;
  position: absolute;
}
@media only screen and (max-width: 768px) {
  header {
    padding: unset;
  }
}
header .header-banner .header-titel {
  color: #fff;
  margin-top: 15%;
  text-align: center;
}
@media only screen and (max-width: 600px) {
  header .header-banner .header-titel {
    margin-top: 35%;
  }
}
header .header-banner .header-titel h5 span {
  font-size: 2rem;
  font-family: "PT Serif", serif;
  color: #fff;
}
header .header-banner .header-titel h2 {
  font-size: 3.2rem;
  line-height: 75px;
}
header .header-banner .header-titel p {
  font-size: 1rem;
  margin-bottom: 35px;
}
header .header-banner .header-titel .search-job {
  padding: 20px 0;
}
header .header-banner .header-titel .search-job .form-select {
  padding: 10px 30px;
}
header .header-banner .header-titel .search-job .form-floating1 .form-control {
  padding: 10px 30px;
  height: 58px;
  font-size: 1.2rem;
  font-family: "PT Serif", serif;
  color: #000;
}
header .header-banner .header-titel .search-job .find-job button {
  width: 100%;
  padding: 13px 30px;
  outline: none !important;
}
@media only screen and (max-width: 600px) {
  header .header-banner .header-titel .search-job {
    text-align: center !important;
  }
  header .header-banner .header-titel .search-job button {
    width: 80% !important;
  }
}

.popular-search {
  padding: 10px 0;
  background-color: #f5f7fa;
}
.popular-search .section-titel h2 {
  text-align: left;
  font-weight: 400;
  font-family: "PT Serif", serif;
}
.popular-search .section-titel .search-titel button {
  padding: 5px 15px;
  outline: none;
  font-size: 1.2rem;
  width: 100%;
}

#aboutUs {
  padding: 100px 0;
}
#aboutUs .about-vedio {
  background: url(../../images/slider/faq.png) no-repeat center center;
  background-size: cover;
  padding: 200px 0;
}
#aboutUs .play-video {
  background-color: #81b214;
  font-size: 3rem;
  width: 80px;
  height: 80px;
  line-height: 90px;
  text-align: center !important;
  margin: auto;
  color: #fff;
}
#aboutUs .about-titel {
  padding: 30px 35px;
  box-shadow: 5px 10px 10px 5px #8888886e;
}
#aboutUs .about-titel .section-titel h2 {
  font-size: 2.5rem;
  font-weight: 400;
  font-family: "PT Serif", serif;
}
#aboutUs .about-titel h5 {
  font-size: 1rem;
  font-weight: 400;
  font-family: "PT Serif", serif;
  opacity: 0.8;
  text-align: center;
}
#aboutUs .about-titel p {
  font-size: 1.2rem;
  font-weight: 400;
  font-family: "PT Serif", serif;
  opacity: 0.5;
  padding: 15px 0;
}

#Top-Companies {
  padding: 100px 0;
}
#Top-Companies .our-companies .company {
  margin: 0 10px;
  height: 200px;
  text-align: center;
}
#Top-Companies .our-companies .company img {
  margin: auto;
  padding: 10px 0;
}
#Top-Companies .our-companies .company span {
  background-color: #bebebe;
  padding: 0 10px;
  font-size: 1.4rem;
}
#Top-Companies .our-companies .company h6 {
  font-size: 1.2rem;
  font-family: "PT Serif", serif;
  font-weight: bolder;
}
#Top-Companies .our-companies .company p {
  font-size: 1.2rem;
  font-family: "PT Serif", serif;
  font-weight: bolder;
  padding: 5px 0;
  opacity: 0.6;
}

.our-blog {
  padding: 50px 0;
  background-color: #f5f7fa;
}
.our-blog .section-titel {
  padding: 20px 0;
  text-align: center;
}
.our-blog .section-titel h2 {
  font-weight: 400;
  font-family: "PT Serif", serif;
}
.our-blog .single-blog {
  width: 23% !important;
  border-radius: 2.3rem !important;
}
@media only screen and (max-width: 500px) {
  .our-blog .single-blog {
    width: 48% !important;
    padding: 5px 0;
  }
}
.our-blog .single-blog img {
  width: 100%;
  height: 250px;
  border-radius: 2.3rem !important;
  transition: 0.6s;
}
.our-blog .single-blog img:hover {
  opacity: 0.6;
}
.our-blog .single-blog span {
  padding: 5px 5px;
  opacity: 0.7;
  margin: 0 0 !important;
  font-size: 0.9rem;
  font-size: 1rem;
}
.our-blog .single-blog h4 {
  font-weight: bolder;
  font-family: "PT Serif", serif;
  font-size: 1.2rem;
  margin: 0 0 !important;
}
.our-blog button {
  padding: 5px 15px;
  outline: none;
  font-size: 1.2rem;
}

.job-title {
  padding: 100px 25px;
  background-color: #f5f7fa;
  font-family: "PT Serif", serif;
}
.job-title .listing_title {
  text-align: left;
}
@media only screen and (max-width: 767px) {
  .job-title .listing_title {
    text-align: center;
  }
}
.job-title .listing_title h2 {
  text-transform: capitalize;
  color: #080808;
  margin-left: 0;
  font-size: 40px;
  font-weight: 400;
  margin-top: 5px;
}

.broser-listing {
  text-align: right;
}
@media only screen and (max-width: 767px) {
  .broser-listing {
    text-align: center;
  }
}
.broser-listing .btn {
  text-align: center;
  right: 0;
  outline: none;
  box-shadow: none;
  margin-top: 5px;
  margin-bottom: 5px;
}

.job-ditaels {
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  border: 1px solid transparent;
  transition: 1s;
  margin-bottom: 10px;
}
.job-ditaels:hover {
  border-color: #81b214;
}
@media only screen and (max-width: 767px) {
  .job-ditaels {
    display: block;
    padding: 5px;
  }
}
.job-ditaels:hover .icon {
  transform: rotate(0.1turn);
}
.job-ditaels .jobs_left {
  display: flex;
  align-items: center;
  line-height: 0.5;
}
.job-ditaels .jobs_left .icon {
  background-color: #f5f7fa;
  width: 75px;
  height: 75px;
  line-height: 75px;
  text-align: center;
  border: 1px solid #bebebe;
  border-radius: 5px;
  margin-right: 15px;
}
.job-ditaels .jobs_left .job-conetent {
  line-height: 1.5;
}
.job-ditaels .jobs_left .job-conetent h4 {
  color: #080808;
  transition: 0.5s;
  text-transform: capitalize;
}
.job-ditaels .jobs_left .job-conetent h4:hover {
  color: #81b214;
}
.job-ditaels .jobs_left .job-conetent .lead, .job-ditaels .jobs_left .job-conetent .footer .copyright .span, .footer .copyright .job-ditaels .jobs_left .job-conetent .span {
  display: flex;
}
.job-ditaels .jobs_left .job-conetent .lead p, .job-ditaels .jobs_left .job-conetent .footer .copyright .span p, .footer .copyright .job-ditaels .jobs_left .job-conetent .span p {
  font-size: 16px;
  color: #aab1b7;
  margin-right: 30px;
}
@media only screen and (max-width: 767px) {
  .job-ditaels .jobs_left .job-conetent .lead p, .job-ditaels .jobs_left .job-conetent .footer .copyright .span p, .footer .copyright .job-ditaels .jobs_left .job-conetent .span p {
    margin-right: 1px;
    font-size: 10px;
  }
}
.job-ditaels .job-right {
  align-items: center;
  line-height: 2.5;
}
@media only screen and (max-width: 767px) {
  .job-ditaels .job-right {
    margin-top: 5px;
  }
}
.job-ditaels .job-right .apply .heart {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  color: #00d363;
  font-size: 14px;
  line-height: 35px;
  text-align: center;
  display: inline-block;
  background: #effdf5;
  margin-right: 15px;
  transition: 0.5s;
}
.job-ditaels .job-right .apply .heart:hover {
  background-color: #81b214;
  color: #fff;
}
.job-ditaels .job-right .apply .heart i {
  transition: 0.5s;
}
.job-ditaels .job-right .apply .heart i:hover {
  animation: heartBeat;
  animation-duration: 2s;
}
.job-ditaels .job-right .date p {
  color: #aab1b7;
  font-style: italic;
  font-size: 14px;
  font-weight: normal;
}

.dream-job {
  margin: 50px 0;
  background: url(../images/job/hero_1.jpg) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
.dream-job .overlay {
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  background-color: rgba(0, 0, 0, 0.5) !important;
  z-index: 0;
  position: absolute;
}
.dream-job .dream-titel {
  padding: 100px 0;
  z-index: 3000;
  position: relative;
}
.dream-job .dream-titel h2 {
  font-size: 4rem;
  font-weight: 400;
  font-family: "PT Serif", serif;
  color: #fff;
  padding: 10px 0;
}
.dream-job .dream-titel h6 {
  font-size: 2rem;
  font-weight: 400;
  font-family: "PT Serif", serif;
  color: #fff;
  padding: 10px 0;
}
.dream-job .dream-titel button {
  padding: 5px 15px;
  outline: none;
  font-size: 1.5rem;
  margin: 20px 5px;
}

.popolar_categories {
  padding: 100px 0;
}
.popolar_categories h2 {
  text-transform: capitalize;
  color: #080808;
  margin-left: 0;
  font-size: 2rem;
  font-weight: 400;
  margin-top: 5px;
}
.popolar_categories .poplar {
  background-color: #fff;
  padding: 25px 0;
  width: 32%;
  transition: 0.6s;
  box-shadow: 5px 10px 10px 5px #8888886e;
}
.popolar_categories .poplar h5 {
  color: #00D363;
  font-size: 3rem;
  transition: 0.6s;
}
.popolar_categories .poplar p {
  font-weight: bolder;
  font-family: "PT Serif", serif;
  font-size: 1.5rem;
  transition: 0.7s;
}
.popolar_categories .poplar span {
  color: #fff;
  font-size: 1rem;
  background-color: #00D363;
  padding: 0 15px;
  transition: 0.8s;
}
.popolar_categories .poplar:hover {
  background-color: #bebebe;
}
@media only screen and (max-width: 767px) {
  .popolar_categories .poplar {
    width: 100% !important;
  }
}

#exampleModal-1 .modal-content {
  width: 150%;
  right: 30%;
}
@media only screen and (max-width: 767px) {
  #exampleModal-1 .modal-content {
    width: 100% !important;
    right: 0;
  }
}
#exampleModal-1 .modal-content .btn-close {
  color: #000 !important;
  background: none;
  font-size: 1.5rem;
  font-weight: bolder;
  font-family: "PT Serif", serif;
  text-align: center;
  outline: none;
}

.job-title {
  padding: 100px 25px;
  background-color: #f5f7fa;
  font-family: "Amiri", serif;
}
.job-title .listing_title {
  text-align: left;
}
@media only screen and (max-width: 767px) {
  .job-title .listing_title {
    text-align: center;
  }
}
.job-title .listing_title h2 {
  text-transform: capitalize;
  color: #080808;
  margin-left: 0;
  font-size: 40px;
  font-weight: 400;
  margin-top: 5px;
}

.broser-listing {
  text-align: right;
}
@media only screen and (max-width: 767px) {
  .broser-listing {
    text-align: center;
  }
}
.broser-listing .btn {
  text-align: center;
  right: 0;
  outline: none;
  box-shadow: none;
  margin-top: 5px;
  margin-bottom: 5px;
}

.job-ditaels {
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  border: 1px solid transparent;
  transition: 1s;
  margin-bottom: 10px;
}
.job-ditaels:hover {
  border-color: #81b214;
}
@media only screen and (max-width: 767px) {
  .job-ditaels {
    display: block;
    padding: 5px;
  }
}
.job-ditaels:hover .icon {
  transform: rotate(0.1turn);
}
.job-ditaels .jobs_left {
  display: flex;
  align-items: center;
  line-height: 0.5;
}
.job-ditaels .jobs_left .icon {
  background-color: #f5f7fa;
  width: 75px;
  height: 75px;
  line-height: 75px;
  text-align: center;
  border: 1px solid #bebebe;
  border-radius: 5px;
  margin-right: 15px;
}
.job-ditaels .jobs_left .job-conetent {
  line-height: 1.5;
}
.job-ditaels .jobs_left .job-conetent h4 {
  color: #080808;
  transition: 0.5s;
  text-transform: capitalize;
}
.job-ditaels .jobs_left .job-conetent h4:hover {
  color: #81b214;
}
.job-ditaels .jobs_left .job-conetent .lead, .job-ditaels .jobs_left .job-conetent .footer .copyright .span, .footer .copyright .job-ditaels .jobs_left .job-conetent .span {
  display: flex;
}
.job-ditaels .jobs_left .job-conetent .lead p, .job-ditaels .jobs_left .job-conetent .footer .copyright .span p, .footer .copyright .job-ditaels .jobs_left .job-conetent .span p {
  font-size: 16px;
  color: #AAB1B7;
  margin-right: 30px;
}
@media only screen and (max-width: 767px) {
  .job-ditaels .jobs_left .job-conetent .lead p, .job-ditaels .jobs_left .job-conetent .footer .copyright .span p, .footer .copyright .job-ditaels .jobs_left .job-conetent .span p {
    margin-right: 1px;
    font-size: 10px;
  }
}
.job-ditaels .job-right {
  align-items: center;
  line-height: 2.5;
}
@media only screen and (max-width: 767px) {
  .job-ditaels .job-right {
    margin-top: 5px;
  }
}
.job-ditaels .job-right .apply .heart {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  color: #00D363;
  font-size: 14px;
  line-height: 35px;
  text-align: center;
  display: inline-block;
  background: #EFFDF5;
  margin-right: 15px;
  transition: 0.5s;
}
.job-ditaels .job-right .apply .heart:hover {
  background-color: #81b214;
  color: #fff;
}
.job-ditaels .job-right .apply .heart i {
  transition: 0.5s;
}
.job-ditaels .job-right .apply .heart i:hover {
  animation: heartBeat;
  animation-duration: 2s;
}
.job-ditaels .job-right .date p {
  color: #AAB1B7;
  font-style: italic;
  font-size: 14px;
  font-weight: normal;
}

.Testimonial {
  padding: 25px 0;
  background: #fff;
  border-top: 2px solid #81b214;
  border-bottom: 2px solid #81b214;
  font-family: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  text-align: center;
}
.Testimonial h2 {
  text-transform: capitalize;
  color: #080808;
  font-family: "Cairo", sans-serif;
  font-size: 36px;
  font-weight: 400;
}
.Testimonial .slide {
  box-shadow: 0 10px 6px -6px #fff;
}
.Testimonial .slide .carousel-inner .carousel-item {
  text-align: center;
}
.Testimonial .slide .carousel-inner .carousel-item .icon {
  text-align: center;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.Testimonial .slide .carousel-inner .carousel-item .icon:hover img {
  transform: scale(1) rotate(360deg);
}
.Testimonial .slide .carousel-inner .carousel-item .icon .pectuer img {
  border-radius: 50%;
  transition: transform 0.5s ease-in-out;
}
.Testimonial .slide .carousel-inner .carousel-item .icon .front {
  font-size: 20px;
  margin-top: 5px;
  color: #81b214;
}
.Testimonial .slide .carousel-inner .carousel-item .icon .span {
  font-size: 20px;
  color: #74757f;
}
.Testimonial .slide .carousel-inner .carousel-item .icon .lead, .Testimonial .slide .carousel-inner .carousel-item .icon .footer .copyright .span, .footer .copyright .Testimonial .slide .carousel-inner .carousel-item .icon .span {
  text-align: center;
  color: #74757f;
  padding: 0 200px;
  transition: 0.5s;
}
.Testimonial .slide .carousel-inner .carousel-item .icon .lead .p, .Testimonial .slide .carousel-inner .carousel-item .icon .footer .copyright .span .p, .footer .copyright .Testimonial .slide .carousel-inner .carousel-item .icon .span .p {
  font-size: 20px;
  color: #74757f;
  margin-top: -15px;
  margin-bottom: -5px;
}
@media only screen and (max-width: 767px) {
  .Testimonial .slide .carousel-inner .carousel-item .icon .lead, .Testimonial .slide .carousel-inner .carousel-item .icon .footer .copyright .span, .footer .copyright .Testimonial .slide .carousel-inner .carousel-item .icon .span {
    padding: unset;
  }
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  z-index: 1;
}

.fa-angle-right,
.fa-angle-left {
  z-index: 1;
  color: #81b214 !important;
  width: 50px;
  height: 50px;
  line-height: 0px;
  border-radius: 50%;
  font-size: 30px;
  text-align: center;
}
@media only screen and (max-width: 767px) {
  .fa-angle-right,
.fa-angle-left {
    visibility: hidden;
  }
}

.quote-light-mark {
  fill: #aeb1be;
}

.modal-content {
  background-color: #206a5d;
  border-radius: 15px;
}
.modal-content .modal-header {
  border: none;
}

form {
  padding: 5px 10px;
}
form .form-control {
  border-radius: 20px;
  outline: none !important;
  box-shadow: none !important;
}
form .form-check-input {
  outline: none !important;
  box-shadow: none !important;
}
form .form-label {
  color: #fff;
}
form .btn-1 {
  outline: none !important;
  box-shadow: none !important;
}
form h4 {
  text-transform: capitalize;
  color: #fff;
}

.social {
  text-align: center;
  margin-top: 15px;
}
.social .fab {
  background-color: #206a5d;
  color: #525151;
  border: 1px solid;
  border-color: #525151;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  font-size: 18px;
  transition: 0.5s;
}
.social .fab:hover {
  background-color: #81b214;
  border: none;
}

.modal {
  color: #fff !important;
}
.modal .modal-header .btn-close {
  color: #fff !important;
  background: none;
  font-size: 1.5rem;
  font-weight: bolder;
  font-family: "PT Serif", serif;
  text-align: center;
  outline: none;
  font-family: "PT Serif", serif;
}

.text #goup {
  position: fixed;
  bottom: 10px;
  right: 5px;
  display: none;
  color: #81b214;
  border: 0;
  text-align: center;
  line-height: 50px;
  text-align: center;
  z-index: 1;
  font-size: 100px;
  cursor: pointer;
}

.header-banner .header-titel {
  margin-top: 25%;
}
.header-banner .header-img {
  margin-top: 15%;
  text-align: right;
}
.header-banner .header-img img {
  width: 60%;
}

.job-listing {
  text-align: center;
  margin: 100px 0;
}
.job-listing .filter {
  border-radius: 10px;
  box-shadow: 0 10px 6px -6px #fff;
  height: 100%;
  padding: 10px 0;
}
.job-listing .filter .section-titel {
  text-align: left;
  padding: 15px 5px;
}
.job-listing .filter .section-titel h2 {
  font-size: 2rem;
  font-weight: 400;
  font-family: "PT Serif", serif;
}
.job-listing .filter .form-filter {
  padding: 10px 5px;
  margin: auto;
}
.job-listing .filter .form-filter .form-floating .form-select {
  font-size: 1rem;
  padding: 10px 30px;
}
.job-listing .filter .form-filter .form-floating option {
  font-family: "PT Serif", serif;
}
.job-listing .filter .form-filter .form-floating1 .form-control {
  padding: 10px 30px;
  height: 58px;
  font-size: 1.2rem;
  font-family: "PT Serif", serif;
  color: #000;
}
.job-listing .filter button {
  width: 88%;
  font-size: 1.5rem;
  letter-spacing: 4px;
  font-weight: bolder;
  margin: 10px 20px;
}
.job-listing .our-job .job-ditaels {
  margin: 10px 0;
  transition: 0.6s;
}
.job-listing .our-job .job-ditaels:hover {
  box-shadow: 0 10px 6px -6px #fff;
}
.job-listing .our-job .job-ditaels .jobs_left {
  padding: 15px 5px;
}
.job-listing .our-job .job-ditaels .jobs_left h2 {
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "PT Serif", serif;
}
.job-listing .our-job .job-ditaels .job-right {
  width: 50%;
}
.job-listing .our-job .job-ditaels .job-right .form-select {
  padding: 10px 30px;
  font-size: 1rem;
}
.job-listing .our-job .job-ditaels .job-right .form-select option {
  font-family: "PT Serif", serif;
}

button {
  padding: 5px 15px;
  outline: none;
  font-size: 1.2rem;
}

.map {
  margin-top: 70px;
}
.map .google-map {
  width: 100%;
}

.get-in-touch {
  margin-top: 70px;
  margin-bottom: 70px;
}

.media {
  display: flex;
}
.media .contact-icon {
  margin-right: 25px;
  font-size: 30px;
  color: gray;
}
.media p {
  font-size: 20px;
  color: gray;
}
.media h4 {
  font-weight: bold;
}

@media (max-width: 768px) {
  .get-in-touch .col-md-6 {
    margin-top: 20px;
  }
}

.my-blog {
  padding: 50px 0;
}
.my-blog .our-blogs .date-blog a {
  left: 30px;
  top: 55%;
  padding: 5px 30px;
  font-size: 1.5rem;
  font-weight: bolder;
  font-family: "Zilla Slab Highlight", cursive;
}
.my-blog .our-blogs .date-blog a h3 {
  line-height: 1.2;
  font-weight: bolder;
}
.my-blog .our-blogs .date-blog a p {
  line-height: 28px;
  font-weight: 600;
}
@media only screen and (max-width: 767px) {
  .my-blog .our-blogs .date-blog a {
    top: 20%;
    padding: 0px 25px;
  }
}
.my-blog .our-blogs .blog-datiles {
  margin: 25px;
}
.my-blog .our-blogs .blog-datiles h2 {
  font-size: 1.5rem;
  font-weight: bolder;
}
.my-blog .our-blogs .blog-datiles p {
  font-size: 1rem;
  opacity: 0.6;
  font-weight: 400;
  line-height: 25px;
}
.my-blog .our-blogs .blog-datiles span {
  padding: 5px 5px;
  opacity: 0.7;
}
.my-blog .recent {
  text-align: center;
}
.my-blog .recent .search {
  padding: 20px 10px;
  background: #fff;
  border-radius: 10px;
  margin: 15px 0;
}
.my-blog .recent .search input {
  height: 50px;
  font-size: 1rem;
  padding: 20px;
}
.my-blog .recent .search button {
  width: 100%;
  margin: 10px 0;
}
.my-blog .recent .our-catagory {
  margin: 10px 0;
  padding: 15px 10px;
  text-align: left;
  background: #fff;
  border-radius: 10px h3;
  border-radius-font-weight: bolder;
}
.my-blog .recent .our-catagory hr {
  width: 80%;
}
.my-blog .recent .our-catagory p {
  opacity: 0.6;
  font-size: 1rem;
  font-weight: bolder;
  transition: 0.6s;
}
.my-blog .recent .our-catagory p:hover {
  color: #81b214;
  cursor: pointer;
}
.my-blog .posts {
  padding: 20px 10px;
  background: #fff;
  border-radius: 10px;
  margin: 10px 0;
  text-align: left;
}
.my-blog .posts h2 {
  font-weight: bolder;
}
.my-blog .posts .my-post figure {
  display: flex;
  text-align: center;
  align-items: center;
}
.my-blog .posts .my-post figure figcaption {
  margin: 0 15px;
}
.my-blog .posts .my-post figure figcaption h4 {
  font-size: 1.1rem;
  font-weight: bolder;
  transition: 0.6s;
}
.my-blog .posts .my-post figure figcaption h4:hover {
  color: #81b214;
  cursor: pointer;
}
.my-blog .posts .my-post figure figcaption p {
  opacity: 0.6;
  font-weight: bolder;
}
.my-blog .posts .instgram-posts {
  padding: 20px 10px;
  background: #fff;
  border-radius: 10px;
  margin: 15px 0;
  text-align: left;
}
.my-blog .posts .instgram-posts h2 {
  font-weight: bolder;
}
.my-blog .posts .subscribe {
  padding: 20px 10px;
  background: #fff;
  border-radius: 10px;
  margin: 15px 0;
  text-align: left;
}
.my-blog .posts .subscribe h2 {
  font-weight: bolder;
}
.my-blog .posts .subscribe input {
  height: 50px;
  font-size: 1rem;
  padding: 20px;
}
.my-blog .posts .subscribe button {
  width: 100%;
  margin: 10px 0;
}

@media (max-width: 991px) {
  .personal {
    margin: 0;
    text-align: center;
  }

  li {
    list-style: none;
  }
}
span {
  /* display: block; */
  color: #888888;
  text-transform: capitalize;
  margin-left: 20px;
  font-size: 18px;
}

.Summary {
  margin-top: 50px;
  width: 100%;
}

.lead, .footer .copyright .span {
  font-size: 20px;
  color: #666666;
  margin-top: 43px;
}

.WorkExperience {
  margin-top: 85px;
}

details[open] summary ~ * {
  animation: open 0.3s ease-in-out;
}

@keyframes open {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
details summary::-webkit-details-marker {
  display: none;
}

details summary {
  font-size: 24px;
  background-color: #fff;
  color: #333333;
  border-left: 5px solid #81b214;
  text-transform: capitalize;
  width: 100%;
  position: relative;
  cursor: pointer;
  font-weight: 300;
  list-style: none;
  padding: 15px;
}

details summary:hover {
  border-top: 1px solid #81b214;
  border-right: 1px solid #81b214;
  border-bottom: 1px solid #81b214;
  border-left: 5px solid r #81b214;
}

details summary:after {
  content: "+";
  color: #81b214;
  position: absolute;
  line-height: 0;
  margin-top: 1rem;
  right: 5px;
  font-weight: 200;
  transform-origin: center;
  transition: 200ms linear;
}

details[open] summary:after {
  transform: rotate(45deg);
  font-size: 2rem;
}

details summary {
  outline: 0;
}

details p {
  font-size: 0.95rem;
  margin: 0 0 1rem;
  margin-top: 43px;
}

.table {
  font-family: "Nunito";
  line-height: 30px;
  margin-top: 32px;
  color: #888888;
  font-size: 20px;
}

.answer {
  font-size: 20px;
  color: #333333;
  font-family: "Nunito";
  line-height: 0;
  padding: 25px;
}

details li {
  font-size: 20px;
  color: #333333;
  text-transform: capitalize;
  margin: 0 0 1rem;
  margin-top: 43px;
}

.skill-progress, h4 {
  margin-top: 43px;
}

.progress {
  height: 25px;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: #f5f5f5;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.progress-bar {
  font-size: 15px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  justify-content: space-between;
}

.progress-bar span {
  margin-left: 80px;
  color: #fff;
  font-size: 15px;
  justify-content: space-between;
}

.figure {
  margin-top: 15px;
  font-size: 25px;
}

.uploadcv {
  padding: 100px;
  margin: 0 auto;
}
@media only screen and (max-width: 768px) {
  .uploadcv {
    padding: unset;
  }
}
.uploadcv h2 {
  text-align: center;
}
.uploadcv .form-check-input {
  outline: none !important;
  box-shadow: none !important;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.uploadcv form {
  box-shadow: -1px 3px 3px 3px #ccc;
  border: 2px solid #81b214;
  padding: 5px 10px;
  background-color: #fff;
}
.uploadcv form .form-control {
  outline: none !important;
  box-shadow: none !important;
}
.uploadcv form .form-check-input {
  outline: none !important;
  box-shadow: none !important;
}
.uploadcv form .form-control {
  outline: none;
  border-top: none;
  border-right: none;
  border-left: none;
  border-radius: 0;
  border-bottom: 1px solid;
  box-shadow: none;
  margin-top: 12px;
}

.search {
  padding: 50px 0;
}

.our-candidates {
  padding: 50px 0;
  text-align: center;
}
.our-candidates .my-candidates {
  width: 23%;
  background: #fff;
  text-align: center;
  margin: 5px 5px;
  border-radius: 10px;
  box-shadow: -10px 25px 50px rgba(0, 0, 0, 0.3);
  transition: 0.6s;
}
.our-candidates .my-candidates:hover {
  transform: translateY(-5px) scale(1.005) translateZ(0);
}
.our-candidates .my-candidates:hover .candidates-titel {
  color: #81b214;
}
@media only screen and (max-width: 767px) {
  .our-candidates .my-candidates {
    width: 100%;
  }
}
.our-candidates .my-candidates .image-candidates {
  margin: 15px 0;
}
.our-candidates .my-candidates .candidates-titel {
  margin: 15px 0;
}
.our-candidates .my-candidates .candidates-titel a h4 {
  font-size: 1.3rem;
  font-weight: 600;
  color: #000;
  transition: 0.6s;
}
.our-candidates .my-candidates .candidates-titel p {
  font-weight: 600;
  font-size: 1rem;
  opacity: 0.8;
}

.TemleaderCANDIDATES {
  padding: 50px 0;
  text-align: center;
}

.card {
  width: 300px;
  height: 300px;
  background: #fff;
  background-image: radial-gradient(#206a5d 5%, #fff 15%, #81b214 60%);
}

.card .image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.card .image img {
  width: 100%;
  text-align: center;
  top: 80%;
  left: 50%;
  transform: translate(-37%, -2%);
  transition: 0.5s;
}

.card:hover .image img {
  opacity: 0.5;
  transform: translateX(30%);
  /*100%*/
}

.card .details {
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  /*100%*/
  height: 100%;
  background: #81b214;
  transition: 0.5s;
  transform-origin: left;
  transform: perspective(2000px) rotateY(-90deg);
}

.card:hover .details {
  transform: perspective(2000px) rotateY(0deg);
}

.card .details .center {
  padding: 20px;
  text-align: center;
  background: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.card .details .center h1 {
  margin: 0;
  padding: 0;
  color: #000;
  line-height: 20px;
  font-size: 20px;
  text-transform: uppercase;
}

.card .details .center h1 span {
  font-size: 14px;
  color: #262626;
}

.card .details .center ul {
  margin: 5px auto 0;
  padding: 0;
  display: table;
}

.card .details .center ul li {
  list-style: none;
  margin: 0 5px;
  float: left;
}

.card .details .center ul li a {
  display: block;
  color: #fff;
  width: 20px;
  height: 20px;
  line-height: 22px;
  text-align: center;
  transform: 0.5s;
}

.fa-twitter {
  color: #1da1f2;
}

.fa-instagram {
  color: #c13584;
}

.fa-google-plus {
  color: #ff3636;
}

.fa-facebook-f {
  color: #3b5998;
}

.fa-linkedin {
  color: #0077b5;
}

.google {
  color: #dd4b39;
}

.job-details {
  margin-top: 70px;
}
.job-details .job-ditaels {
  border-bottom: 1px solid #EAEAEA;
}
.job-details .job-content {
  background-color: #fff;
  margin-top: -9px;
  padding: 15px;
}
.job-details .job-content .Responsibility {
  margin-top: 5px;
}
.job-details .job-content .Qualifications {
  margin-top: 5px;
}
.job-details .job-content p {
  font-size: 20px;
  color: gray;
}
.job-details .job-content li {
  font-size: 20px;
  color: gray;
}
.job-details .apply-for-job {
  margin-top: 10px;
  background-color: #fff;
  padding: 15px;
}
.job-details .apply-for-job .btn-1 {
  width: 100%;
}

.job-summery {
  background-color: #fff;
  padding: 20px;
}
.job-summery .job-semmury-head {
  border-bottom: 1px solid #EAEAEA;
}
.job-summery .job-semmury-content {
  margin-top: 30px;
}

.share-at {
  background-color: #fff;
  padding: 20px;
  margin-top: 15px;
}
.share-at .icon {
  color: gray;
  margin-right: 5px;
}
.share-at .icon:hover {
  color: blue;
}

.job-map {
  margin-top: 5px;
}
.job-map .job-map-content {
  width: 100%;
}

.FAQ {
  padding-top: 100px;
}
.FAQ .faq-titel h2 {
  font-weight: bolder;
  font-size: 2rem;
}
.FAQ .faq-titel button {
  font-weight: 600;
  font-size: 1rem;
  transition: 0.6s;
}
.FAQ .faq-titel button:hover {
  color: #81b214;
}

.post-job {
  margin-top: 30px;
}
.post-job .check-span {
  color: #28a745;
}
.post-job .post-content {
  padding: 20px;
  background-color: #fff;
}
.post-job .location {
  margin-top: 20px;
}
.post-job .job-desc {
  margin-top: 20px;
}

.job-summery p {
  color: #28a745;
}

.job-summery-2 {
  margin-top: 20px;
  background-color: #fff;
  padding: 20px;
}
.job-summery-2 .job-semmury-head {
  border-bottom: 1px solid #EAEAEA;
}
.job-summery-2 .job-semmury-content {
  margin-top: 30px;
}
.job-summery-2 .job-semmury-content p {
  color: #28a745;
}

#about-us {
  padding: 100px 0;
}
#about-us .about-titel h2 {
  font-weight: bolder;
  font-size: 2.5rem;
  padding: 10px 5px;
}
#about-us .about-titel p {
  font-size: 1rem;
  opacity: 0.8;
}
#about-us .about-titel button {
  margin: 15px 0;
  outline: none;
}

.our-advantages {
  padding: 50px 0;
  background-color: #fff;
}
.our-advantages .my-advantages h4 {
  font-size: 1.5rem;
  font-weight: bolder;
  transition: 0.6s;
  cursor: pointer;
}
.our-advantages .my-advantages h4:hover {
  color: #81b214;
}
.our-advantages .my-advantages i {
  color: #81b214;
}

.our-team {
  padding: 50px 0;
}
.our-team .my-team:hover img {
  opacity: 0.6;
}
.our-team .my-team h4 .name {
  font-size: 1.8rem;
  font-weight: bolder;
  color: #000;
}
.our-team .my-team h4 .do {
  font-size: 1rem;
  color: #81b214;
  font-weight: bolder;
}

.icreaseup {
  padding: 100px 0;
  background-color: #232323;
}
.icreaseup .counter-container {
  text-align: center;
}
.icreaseup .counter-container i {
  color: #81b214;
  font-size: 3rem;
}
.icreaseup .counter-container .counter {
  font-size: 2.5rem;
  font-weight: bolder;
  color: #fff;
}
.icreaseup .counter-container span {
  font-size: 1.5rem;
  font-weight: bolder;
  color: #fff;
}

.section-titel {
  text-align: center;
  padding: 20px 0;
}
.section-titel h2 {
  font-weight: bolder;
  font-size: 2.5rem;
}

/*# sourceMappingURL=style.css.map */
