.btn{
    text-transform: capitalize;
    background-color: transparent;
    color: $green_color; 
    border: 1px solid $green_color;
    border-radius: 5px;
    padding: 10px 30px;
    outline: none;
    box-shadow: none;
        transition: .5s;

    &:hover{
        background-color: $green_color;
        color: $white_color;
    }

}
.btn-1{
    text-transform: capitalize;
    background-color: $green_color;
    color: $white_color;
    border: 1px solid $green_color;
    border-radius: 5px;
    padding: 5px 15px;
    outline: none;
    box-shadow: none;
    transition: .5s;
    &:hover{
       
        background-color: transparent;
        color: $green_color; 
    }

}

.square_btn{
    display: inline-block;
    position: relative;
    padding: 0.5em 1.4em;
    text-decoration: none;
    background: $green_color;
    color: #FFF;
    border-bottom: solid 5px #000;
    border-right: solid 5px #000;
    border-radius: 50%;
  }
  

  

  
  