header{
  .navbar{
    z-index: 3;
    position: fixed!important;
    top:0;
    left: 0;
    width: 100%;
   @media only screen and (max-width: 991px){
     opacity: .9!important;
 .navbar-collapse{
   background-color:$white_color;
   opacity: 1 !important;
   ;
 
   
   
 };
 .navbar-toggler{
   background-color:$gray-color-2;
   box-shadow: none;
   
 }
 
   }
  }
   .navbar-brand{
     font-size: 2rem;
      font-family: $font1;
      font-weight: 600;
   };
   .navbar-nav{
     .nav-item{
       padding: 5px 10px;
       .nav-link{
         color:$white_color;
         font-size: 1.1rem;
         font-weight: 400;
         font-family: $font1;
         transition: .6s;
         &:hover{
           color: $green_color;
         };
         @media only screen and (max-width: 991px){
           color: $black;
             
           }
         
       }
     }
   };
   button{margin: 0 10px;
     font-size: 1.3rem !important;
    
     font-weight: 500 !important;
     box-shadow:none !important;
     outline: none!important;
   }
 }
 .sticky {background-color:$black; transition: .6s; opacity: .7;z-index: 3;;
 
 .dropdown-menu{
   margin-top: 15px;
 }
   
       
     
 }