.navbar{
  z-index: 3;
  .navbar-brand{
      font-family: $font1;
      font-size: 2rem
    };
    .collapse{
  .navbar-nav{padding: 10px 0;
    transition: .6s;
    

    .nav-item{
      .nav-link{
        padding-right:  40px;
        font-family: $font1;
        color:$white_color;
        font-size: 1.5rem;
        transition: .6s;
        font-weight: 500;
        &:hover  {color: $green_color;};
      }
      .active{color: $green_color}
    };
    .dropdown{
      
      .dropdown-menu{transition: .6s;
        .dropdown-item{font-family: $font1;
          font-size:1.5rem;
        &:hover{background-color: $green_color}}
      }

      }
    };
  }
  .btns{font-family: $font1;
    font-weight: 700;
  }
 .bt{ background-color: $green_color;
  color: $white_color;
  
  ;
   &:hover{
     background-color:transparent;
     color: $green_color
   }
    
  };
}  
    
  

.sticky{background-color: $main-color; transition: .6s;opacity: .7;}