header {
  .navbar {
    z-index: 3;
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    @media only screen and (max-width: 991px) {
      opacity: 0.9 !important;
      
      .navbar-collapse {
        background-color: $white_color;
        opacity: 1 !important;
      }
    }
    .navbar-toggler{
      background-color: $green-color;
    }
   
  }
  .navbar-brand {
    font-size: 2rem;
    font-family: $font1;
    font-weight: 600;
  }
  .navbar-nav {
    .nav-item {
      padding: 3px 5px;
      .nav-link {
        color: $white_color;
        font-size: 1.1rem;
        font-weight: 400;
        font-family: $font1;
        transition: 0.6s;
        &:hover {
          color: $green_color;
        }
        @media only screen and (max-width: 991px) {
          color: $black;
        }
      }
    }
  }
  .btn-1{
    margin: 0 10px;
    font-size: 1.3rem !important;

    font-weight: 500 !important;
    box-shadow: none !important;
    outline: none !important;
  }
  .mode {
    text-align: right;
    padding: 10px 0;
  }
  .label {
    background-color: $green_color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 50px;
    height: 28px;
    width: 55px;
    padding: 5px;
    position: relative;
  }
  .checkbox {
    position: absolute;
    opacity: 0;
  }
 
  // }
  .ball {
    background-color: #fff;
    height: 27px;
    width: 27px;
    border-radius: 50%;
    position: absolute;
    top: 1px;
    left: 0;
    right: 25px;
    transition: 0.2s linear;
  }
  i {
    color: $white_color;
    cursor: pointer;
  }
}
.sticky {
  background-color: $black;
  transition: 0.6s;
  opacity: 0.7;
  z-index: 3;

  .dropdown-menu {
    margin-top: 15px;
  }
}
