@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');

// $main-color:#001D38;
$main-color:#206a5d;
$childcolor:#080808;
$gray-color: #bebebe;
$gray-color-2: #bdbdbd;
$gray-color3:#5c5c5c;
$white_color:#fff;
// $green_color: #00D363;
$green_color: #81b214;
$blue_color: #206a5d;
$black:#000;
$body-color:#f5f7fa;

$Fsize:14px;
$padding: 100px;
$box-shadow:  0 10px 6px -6px #fff;
// $box-shadow: 0 1px 1px rgba(0,0,0,0.4), 
// 0 1px 1px rgba(0,0,0,0.4), 
// 0 2px 2px rgba(0,0,0,0.4), 
// 0 4px 4px rgba(0,0,0,0.4);

// fonts
$font1:  'PT Serif', serif;
$font2: 'Zilla Slab Highlight', cursive;

// btncolor
$btn_bg: #00D363;
$btn_hover: #f5790b;
$section_bg: #f7f7f7;
$section_bg_1: #454545;
$heading_color: #191d34;
$heading_color2: #ff8b23;
$section_top:80px