.carousel{
    .carousel-inner{
        .carousel-item {
            img{max-height: 800px;

                
                // @media only screen and (max-width: 500px) {
                //    height:  1000px;
                //   };
            }
            .overlay{
              @include overlay;
            };
        ;
        .carousel-caption{
            z-index: 5;
            text-align: left;
            h2{font-family: $font1;
            font-size: 5rem;}
            h5{font-family: $font2;
            font-size: 1.5rem;}
            p{font-family: $font2;
            font-size: 1.5rem;}

        }
    }
}

.carousel-control-next , .carousel-control-prev{ top: 28%;}
}