.Testimonial{
  padding: 25px 0;
  background:#fff;
border-top: 2px solid $green-color;
border-bottom: 2px solid $green-color;
font-family: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
text-align: center;
            h2{
              text-transform: capitalize; 
              color: $childcolor;
              font-family: 'Cairo', sans-serif;
              font-size: $Fsize + 22;
              font-weight: 400;
            }
  .slide{
box-shadow: $box-shadow;
// border: 1px solid $green-color;
      .carousel-inner{
      .carousel-item{
        text-align: center;
      .icon{
        text-align: center;
            position: relative;
            overflow: hidden;
            z-index: 1;
            &:hover img{
              transform: scale(1) rotate(360deg);
            }
            .pectuer img {
              border-radius: 50%;
              transition: transform .5s ease-in-out;
             
            }
            .front{
              font-size: 20px;
              margin-top: 5px;
              color: $green-color;
            }
            .span{
              font-size: 20px;
              color: #74757f;
            }
            .lead{
              text-align: center;
              color: #74757f;
              padding: 0 200px;
              transition: .5s;
              .p{
                font-size: 20px;
                color: #74757f;
                margin-top: -15px;
                margin-bottom: -5px;

              }
              @media only screen and(max-width:767px){
                padding: unset;
              }
                 }
            }

          }
}
    }
  }
  .carousel-control-prev-icon,
  .carousel-control-next-icon{
    z-index: 1;
  }
 .fa-angle-right,
  .fa-angle-left{
  z-index: 1;
    color: $green-color !important;
   width: 50px;
   height: 50px;
   line-height: 0px;
   border-radius: 50%;
   font-size: 30px;
   text-align: center;
  
   @media only screen and(max-width:767px){
visibility: hidden;    }
 }
 .quote-light-mark {
  fill: #aeb1be;
}