.Testimonial{
  padding: 100px 0;
  font-family: 'Amiri', serif;
            text-align: center;
            h2{
              text-transform: capitalize; 
              color: $childcolor;
              font-family: 'Cairo', sans-serif;
              font-size: $Fsize + 26;
              font-weight: 400;
            }
  .slide{
      .carousel-inner{
      .carousel-item{
        text-align: center;
      .icon{
        text-align: center;
            position: relative;
            overflow: hidden;
            z-index: 1;
            &:hover img{
              transform: scale(1) rotate(360deg);
            }
            .pectuer img {
              border-radius: 50%;
              transition: transform .5s ease-in-out;
             
            }
            .lead{
              text-align: center;
              // color: $main-color;
              padding: 0 200px;
              transition: .5s;
              .p{
                font-size: 25px;
              }
              @media only screen and(max-width:767px){
                padding: unset;
              }
                 }
            }

          }
}
    }
  }
  .carousel-control-prev-icon,
  .carousel-control-next-icon{
    z-index: 1;
  }
 .fa-angle-right,
  .fa-angle-left{
  z-index: 1;
    color: $blue-color !important;
    background-color: #7FC1FC !important;
   width: 50px;
   height: 50px;
   line-height: 50px;
   border-radius: 50%;
   font-size: 30px;
   text-align: center;
   &:hover{
    background-color: $blue-color !important;
    color: #7FC1FC  !important;
   }
   @media only screen and(max-width:767px){
visibility: hidden;    }
 }
