.text{
    #goup{
      position: fixed;
      bottom: 10px;
      right: 5px;
      display: none;
      color:#027be6;
      border: 0;
      text-align: center;
      line-height: 50px;
      text-align: center;
      z-index: 1;
      font-size: 70px;
      cursor: pointer;
     
  }
  
  }