.back-top {
  right: 10px;
  bottom: 0;
  z-index: 6;
  display: none;
  transition: 0.7s;
  button {
    font-size: 2rem;
  }
}

.search-job {
  margin-top: $section_top;

  label {
    font-size: 1.5rem;
    font-family: $font1;
  }
  .find-job {
    button {
      padding: 10px 50px;
      font-family: $font1;
      font-size: 1.5rem;
    }
  }
}

.popular {
  margin-top: $section_top;
  p {
    font-size: 1.4rem;
    padding: 5px 0;
    font-weight: bolder;
    font-family: $font1;
  }
  button {
    padding: 5px 5px;
  }
}

#Featured-Candidates {
  margin-top: $section_top;

  .section-titel {
    text-align: center;
    font-size: 3rem;
    font-family: $font1;
    h1 {
      padding-bottom: 25px;
    }
  }
  .featured-candidates {
    div {
      margin: 0 5px;
      text-align: center;
      height: 250px;

      img {
        margin: auto;
        padding: 10px 0;
      }
      h6 {
        font-size: 1.2rem;
        font-family: $font1;
        font-weight: bolder;
        padding: 5px 0;
      }
      p {
        font-size: 1.2rem;
        font-family: $font2;
        font-weight: bolder;
        padding: 5px 0;
        opacity: 0.6;
      }
    }
  }
}

#Top-Companies {
  margin-top: $section_top;
  .our-companies {
    .company {
      margin: 0 10px;
      height: 200px;
      text-align: center;
      img {
        margin: auto;
        padding: 10px 0;
      }
      span {
        background-color: $gray-color;
        padding: 0 10px;
        font-size: 1.4rem;
      }
      h6 {
        font-size: 1.2rem;
        font-family: $font1;
        font-weight: bolder;
      }
      p {
        font-size: 1.2rem;
        font-family: $font2;
        font-weight: bolder;
        padding: 5px 0;
        opacity: 0.6;
      }
    }
  }
}


   



     
      
  
        
  

.categories {
  background-color: #f5f7fa;
  h2 {
    margin-bottom: 30px;
  }
  a {
    color: #001d38;
    font-size: 20px;
  }
  .icon {
    color: #00d363;
    font-size: 35px;
  }
  .p-3.border.bg-light {
    background-color: #fff !important;
    text-align: center;
    &:hover {
      border: 1px solid#00D363 !important ;
      transition: 0.5s ease-in-out;
    }
  }
}


// About us
#AboutUs {
    margin-top: $section_top;
   
    .video-about{margin: auto; background: url(../../images/job/1.png) center no-repeat;
    padding: 130px 0;position: relative;

        .play-video{background-color:$green_color;
            font-size: 3rem;
            width: 80px;
            height: 80px;
            line-height: 80px;
            text-align: center !important;
            margin: auto;
            color: $white_color
            
        };
    };
    .overlay{
        @include overlay;}
    .about-titel{
        h2{
            font-family: $font1;
            font-size: 2.5rem;
            font-weight: bolder;
            padding: 20px 30px;
            opacity: .5;
        };
        h6{
            font-family: $font1;
            font-size: 2rem;
            font-weight: bolder;
            padding: 10px 25px;
            opacity: .6;
        };
        p{font-family: $font2;
        font-size: 1.5rem;
    font-weight: bolder;
    line-height: 30px;
opacity: .4;}
    }
  }