


// find job
.search-job {
  
  
  .section-titel{
      h2{
          
          font-weight: 400;
          font-family: $font2;

      }
  }
 
   label {
     font-size: 1.2rem;
     font-family: $font2;
     color:$black
      
   };
  .find-job{
      button{
          width: 100%;
          padding: 13px 30px;
          outline: none!important;
      }
  }}
// find job
// Popular Search
.popular-search{
  padding: 30px 0;
  background-color:$body-color;
  .section-titel{
      h2{
          
          font-weight: 400;
          font-family: $font2;

      };
      .search-titel{
          button{
              padding: 5px 15px;
              outline: none;
              font-size: 1.2rem;
              width: 100%;
             
          }
      }
}}
// Popular Search
// AboutUs
.aboutUs{
  padding: 100px 0;
  .about-vedio{
      background:url(../../images/slider/faq.png)no-repeat center center;
      background-size:cover;
      padding: 200px 0;
      
     
     

  };
  .play-video {
      background-color: $green_color;
      font-size: 3rem;
      width: 80px;
      height: 80px;
      line-height: 90px;
      text-align: center !important;
      margin: auto;
      color: $white_color;
      ;
    };
    .about-titel{
        padding: 30px 35px;
        box-shadow: 5px 10px 10px 5px #8888886e
        ;
        .section-titel{
            h2{font-size: 2.5rem;
              font-weight: 400;
              font-family: $font2; 
          }
        };
        h5{
            font-size: 1rem;
            font-weight: 400;
            font-family: $font2;
            opacity: .8;
            text-align: center;
            
        };
        p{
            font-size: 1.2rem;
            font-weight: 400;
            font-family: $font2;
            opacity: .5;
            padding: 15px 0;
            
        }
    }
}
//About Us


// top-campanies
#Top-Companies {
  padding: 100px 0;
  .our-companies {
    .company {
      margin: 0 10px;
      height: 200px;
      text-align: center;
      img {
        margin: auto;
        padding: 10px 0;
      }
      span {
        background-color: $gray-color;
        padding: 0 10px;
        font-size: 1.4rem;
      }
      h6 {
        font-size: 1.2rem;
        font-family: $font2;
        font-weight: bolder;
      }
      p {
        font-size: 1.2rem;
        font-family: $font2;
        font-weight: bolder;
        padding: 5px 0;
        opacity: 0.6;
      }
    }
  }
}
// top -campanies
// our-blog
.our-blog{
  padding: 50px 0;
  background-color:$body-color;
  .section-titel{ 
    text-align: center;
    h2{
    
    font-weight: 400;
    font-family: $font2;


};
}
.single-blog{
  width: 23%!important;
  border-radius:2.3rem !important;
  @media only screen and (max-width: 500px) {
    width: 48% !important;
    padding: 5px 0;;
  }
  
  ;
  img{width: 100%;
    height: 250px;
    ;
    border-radius:2.3rem !important;
    transition: .6s;
    &:hover{opacity: .6;
      
     }
  };
  span{padding: 5px 10px;
  opacity: .7;};
  h4{
  font-weight: bolder;
font-family: $font2;};
p{font-size: 1.1rem;
font-weight: 400;
opacity: .8;
}

  };
  button{
    padding: 5px 15px;
    outline: none;
    font-size: 1.2rem;
    ;
  }
}
// our-blog

.job-title {
  padding: $padding 25px;
  background-color: $body-color;
  font-family: $font2;

  .listing_title {
    text-align: left;
    @media only screen and (max-width: 767px) {
      text-align: center;
    }
    h2 {
      text-transform: capitalize;
      color: $childcolor;
      margin-left: 0;
      font-size: $Fsize + 26;
      font-weight: 400;
      margin-top: 5px;
    }
  }
}
.broser-listing {
  text-align: right;
  @media only screen and (max-width: 767px) {
    text-align: center;
  }
  .btn {
    text-align: center;
    right: 0;
    outline: none;
    box-shadow: none;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
.job-ditaels {
  padding: $padding - 80;
  background-color: $white_color;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  border: 1px solid transparent;
  transition: 1s;
  margin-bottom: 10px;
  &:hover {
    border-color: $green_color;
  }
  @media only screen and (max-width: 767px) {
    display: block;
    padding: $padding - 95;
  }
  &:hover .icon {
    transform: rotate(0.1turn);
  }
  .jobs_left {
    display: flex;
    align-items: center;
    line-height: 0.5;

    .icon {
      background-color: $body-color;
      width: 75px;
      height: 75px;
      line-height: 75px;
      text-align: center;
      border: 1px solid $gray-color;
      border-radius: 5px;
      margin-right: 15px;
    }
    .job-conetent {
      line-height: 1.5;
      h4 {
        color: $childcolor;
        transition: 0.5s;
        text-transform: capitalize;
        &:hover {
          color: $green_color;
        }
      }
      .lead {
        display: flex;
        p {
          font-size: $Fsize + 2;
          color: #aab1b7;
          margin-right: 30px;
          @media only screen and (max-width: 767px) {
            margin-right: 1px;
            font-size: $Fsize - 4;
          }
        }
      }
    }
  }
  .job-right {
    // @extend .jobs_left;
    align-items: center;
    line-height: 2.5;
    @media only screen and (max-width: 767px) {
      margin-top: 5px;
    }
    .apply {
      .heart {
        width: 35px;
        height: 35px;
        border-radius: 5px;
        color: #00d363;
        font-size: 14px;
        line-height: 35px;
        text-align: center;
        display: inline-block;
        background: #effdf5;
        margin-right: 15px;
        transition: 0.5s;
        &:hover {
          background-color: $green_color;
          color: $white_color;
        }
        i {
          transition: 0.5s;
          &:hover {
            animation: heartBeat;
            animation-duration: 2s;
          }
        }
      }
    }
    .date {
      p {
        color: #aab1b7;
        font-style: italic;
        font-size: $Fsize;
        font-weight: normal;
      }
    }
  }
}
// dream-job
.dream-job{
  
  margin: 50px 0;
  background:url(../images/job/hero_1.jpg)no-repeat center center;
  background-size:cover;
  background-attachment: fixed;
 
  position: relative;
  .overlay{
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    background-color: rgba(0, 0, 0, 0.5) !important;
    z-index: 0;
    position:absolute
  }
  ;
  
  .dream-titel{
   
  padding: 100px 0;
  z-index: 3000;
  ;position: relative;
  

    h2{
      font-size: 4rem;
      font-weight: 400;
      font-family: $font2;
      color: $white_color;
      padding: 10px 0;
    };
    h6{font-size: 2rem;
    font-weight: 400;
  font-family: $font2;
color: $white_color;
padding: 10px 0;}
    ;
button{
  padding: 5px 15px;
  outline: none;
  font-size: 1.5rem;
  margin: 20px 5px;
}
  }
}
// dream-job

// Popolar Categories
.popolar_categories {
  padding: 100px 0;
  
  h2 {
    text-transform: capitalize;
    color: $childcolor;
    margin-left: 0;
    font-size: 2rem;
    font-weight: 400;
    margin-top: 5px;
  }
  .poplar {
    background-color: $white_color;
    padding: 25px 0;
    width: 32%;
    transition: 0.6s;
    box-shadow:5px 10px 10px 5px #8888886e ;


    h5 {
      color: $btn_bg;
      font-size: 3rem;
      transition: 0.6s;
    }
    p {
      font-weight: bolder;
      font-family: $font2;
      font-size: 1.5rem;
      transition: 0.7s;
    }
    span {
      color: $white_color;
      font-size: 1rem;
      background-color: $btn_bg;
      padding: 0 15px;
      transition: 0.8s;
    }

    &:hover {
      background-color: $gray_color;
     
    }
    @media only screen and (max-width: 767px) {
      width: 100%!important;
    }
  }

}

// Popolar Categories
// model-veido
#exampleModal-1{
  .modal-content{
    width: 150%;
    right: 30%;
    @media only screen and (max-width: 767px) {
      width: 100%!important;
      right: 0;
    }
    .btn-close{
      color:$black !important;
      background:none;
      font-size: 1.5rem;
      font-weight: bolder;
      font-family: $font2;
      text-align: center;
      outline: none;
      
    }
  }
}