.post-job{
    margin-top: 30px;
    .check-span{
        color: #28a745;
    }
    .post-content{
        padding:20px;
        background-color: #fff;
    };
    .location{
        margin-top: 20px;
    };
    .job-desc{
        margin-top: 20px;

    }
}
.job-summery{
    p{
        color:#28a745;
    }
}
.job-summery-2  {
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    .job-semmury-head{
        border-bottom: 1px solid #EAEAEA;
    };
    .job-semmury-content{
        margin-top: 30px;
    }
    .job-semmury-content{
        p{
            color:#28a745;
        }
    }
}